<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dashboard - Dr. Mark</title>
  {% load staticfiles %}
  <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'global/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'global/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <link href="{% static 'global/css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'schedule:index' %}">Agenda digital</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right">
          <a class="nav-link" href="{% url 'schedule:index' %}">
            <i class="fa fa-fw fa-address-book"></i>
            <span class="nav-link-text">Listado de citas</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right">
          <a class="nav-link" href="{% url 'schedule:create_appointment' %}">
            <i class="fa fa-fw fa-edit"></i>
            <span class="nav-link-text">Agendar cita</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right">
          <a class="nav-link" href="{% url 'schedule:admin_pacients' %}">
            <i class="fa fa-fw fa-universal-access"></i>
            <span class="nav-link-text">Listar pacientes</span>
          </a>
        </li>
      </ul>
        <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
        </ul>

    </div>
  </nav>
  <div class="content-wrapper">
  {% block wrapper_content %}{% endblock %}
  </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
        </div>
      </div>
    </footer>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    {% block script %}{% endblock %}


    <script src="{% static 'global/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'global/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'global/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'global/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'global/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'global/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'global/js/sb-admin.min.js' %}"></script>
    <script src="{% static 'global/js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'global/js/sb-admin-charts.min.js' %}"></script>
  </div>
</body>

</html>
