{% extends "base.html" %}

{% block wrapper_content %}
<div align="center">
	<h2>Lista de pacientes</h2>
</div>
<table class="table table-bordered">
	{% if object_list %}
	<thead>
		<tr>
			<td>Nombres</td>
			<td>Fecha de nacimiento</td>
			<td>Telefono</td>
		</tr>

	</thead>
	<tbody>
		{% for solicitud in object_list %}
		<tr>
			<td>{{ solicitud.name }}</td>
			<td>{{ solicitud.birth_date }}</td>
			<td>{{ solicitud.telephone }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'schedule:update_pacient' solicitud.id %}">Editar</a>
			</td>
		</tr>
		{% endfor %}

	{% else %}
	<h1>No se encontraron registros</h1>
	{% endif %}
	</tbody>
</table>
{% endblock %}