{% extends "base.html" %}

 {% block wrapper_content %}
<div style="margin: 0 auto;text-align: left;width: 1000px;">
    <h1> Nueva cita </h1>
    <form method="post">
        {% csrf_token %}
        <div><b>{{ form.date.label }}</b></div>
        <input name="date" type="date" value = "{{ date_today }}"> <input name="time" type="time" value="08:00:00" step="1">
        {% if form.errors.date %}
            <div class="alert alert-danger">
                <strong>•</strong>{{ form.errors.date }}
            </div>
        {% endif %}
        <div><b>{{ form.type.label }}</b> </div>

        {% for element in form.type %}
            <div>
                {{ element }}
            </div>
        {% endfor %}
        {% if form.errors.type %}
            <div class="alert alert-danger">
                {{ form.errors.type }}
            </div>
        {% endif %}
        <div><b>{{ form.pacient.label }}</b> </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pacientes
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <table>
               <tr>
                  {% for com in form.pacient %}
                    {% if forloop.counter0|divisibleby:"3" %}
                        </tr>
                    {% endif%}
                    <td>{{ com }}</td>
                  {% endfor %}
           </table>
          </div>
          {% if form.errors.pacient %}
            <div class="alert alert-danger">
                {{ form.errors.pacient }}
            </div>
          {% endif %}
        </div>

        <div style=" margin-top:20px;"><button type="submit" class="btn btn-primary">Añadir</button></div>
    </form>
</div>
{% endblock %}