{% extends "base.html" %}


{% block wrapper_content %}
<table class="table table-bordered">
	{% if object_list %}
	<thead>
		<tr>
			<td>Fecha y hora</td>
			<td>Tipo de cita</td>
			<td>Paciente</td>
		</tr>

	</thead>
	<tbody>
		{% for solicitud in object_list %}
		<tr>
			<td>{{ solicitud.date }}</td>
			<td>{{ solicitud.type.type }}</td>
			<td>{{ solicitud.pacient.name }}</td>
		</tr>
		{% endfor %}

	{% else %}
	<h1>No se encontraron registros</h1>
	{% endif %}
	</tbody>
</table>
{% endblock %}