{% extends "base.html" %}


{% block wrapper_content %}
<div style="margin: 0 auto;text-align: left;width: 1000px;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style=" margin-top:20px;"><button type="submit" class="btn btn-primary">Actualizar</button></div>
    </form>
</div>
{% endblock %}